/*Your Code Here*/

/*Write selector/rule property to add your border when
links in the navigation are in the hover or focus state.*/


/*Write selector/rule property to position the default position for the skip class element*/


/*Write selector/rule property to position the skip class element when it is in focus*/

/*Write selector/rule property to style all elements when in focus*/



/*Write selector/rule property to style the container */


/*Write selector/rule property to add the background image to the first div in the grid and place it in the grid. */


/* Steps 6 and 7: Write the selector/rule properties to  place the next five elements in the next
 five rows in the grid. */

      /*This will be a lot of rules.... but be strategic and combine selectors*/


 /* Step 8: Write the selector/rule property to style the .text-block class. */


/* Add your media query here */


  /* Step 10: Write the selector/rule property to style the nav element */

 
  /* Step 11: Write the selector/rule property to update the .container class */


  /* Steps 12 - 15: Update the grid-column property of the grid's children (where-needed)*/



 /* Step 16:Write the selector/rule property to update the .text-block class */

nav a:hover, nav a:focus {
     border: 2px dotted purple;
}
.skip a{
    position: absolute;
    top: -65px;
}
.skip a:focus {
     top: 25px;
}
*:focus {
     border: 5px dashed green
}
.container {
     display: grid;
     grid-template-columns: repeat(5, 1fr);
     gap: 13px;
}
.container > div:first-child {
     grid-column: 1 / -1;
     background-image: url('../images/header.jpg');
     background-size: cover;
     background-position: center;
     background-repeat: no-repeat;
     min-height: 400px;
}
.accounts, .onlinebanking, .security, .loans, .contact {
     grid-column: 2 / span 3;
}
.accounts {
     grid-row: 2;
}
.onlinebanking {
     grid-row: 3;
}
.security {
     grid-row: 4;
}
.loans {
     grid-row: 5;
}
.contact {
     grid-row: 6;
}
.accounts-image, .onlinebanking-image, .security-image, .loans-image, .contact-image {
     grid-column: 1/-1;
     max-height: 675px;
     overflow: hidden;
}
.accounts-image {
     grid-row: 2;
}
.onlinebanking-image {
     grid-row: 3;
}
.security-image {
     grid-row: 4;
}
.loans-image {
     grid-row: 5;
}
.contact-image {
     grid-row: 6;
}
.accounts-image img, .onlinebanking-image img, .security-image img, .loans-image img, .contact-image img {
     width: 100%;
     height: 100%;
     object-fit: cover;
}
.text-block {
     align-self: center;
     padding: 30px;
     text-align: center;
}
.text-block ul {
     text-align: left;
     padding-left: 2px;
}
@media screen and (min-width: 825px){
     nav {
          text-align: right;
          padding: 35px 0 35px 0;
     }
     .container {
          grid-template-columns: repeat(7, 1fr);
     }
     .accounts, .security, .contact {
          grid-column: 4 / span 3;
     }
     .onlinebanking, .loans {
          grid-column: 2 / span 3;
     }
     .accounts-image, .security-image, .contact-image {
          grid-column: 1 / span 5;
     }
     .onlinebanking-image, .loans-image {
          grid-column: 3 / span 5;
     }
     .text-block {
          max-height: 235px;
          overflow: auto;
          align-self: center;
     }
}